QWidget {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

QLabel {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 2px;
}

QLabel#growth_label, QLabel#percentage_growth_label {
    font-weight: bold;
    color: #555;
}

QLabel#growth_value, QLabel#percentage_growth_value {
    color: #388E3C;
}

/* Stock Price Chart */
QWidget#middle_widget {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    padding-top: 50px
}

/* Button styles (if any) */
QPushButton {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#header_company {
    font-size: 70px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border: 5px solid black
    text-align: center;
}

QPushButton:hover {
    background-color: #45A049;
}

QPushButton:pressed {
    background-color: #388E3C;
}

#upper_layout {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

#middle_widget {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

QLabel {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 2px;
}

#label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
QMessageBox {
    background-color: #2e2e2e;
    color: #ffffff;
    border: 2px solid #ff6600;
    border-radius: 10px;
    font-size: 14px;
}

QMessageBox QPushButton {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

QMessageBox QPushButton:hover {
    background-color: #e65c00;
}
