/* HomeWindowStyle.css */

QWidget {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12pt;
}

/* Styles for Header and Footer */
QLabel#header, QLabel#footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

/* Button Styling */
QPushButton {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
    transition: background-color 0.5s, color 0.3s;
}

QPushButton:hover {
    background-color: #2980b9;
}

/* Styles for List Widgets */
QListWidget {
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 5px;
    color: #34495e;
}

QListWidget::item {
    padding: 5px;
    border-radius: 5px;
}

/* Styles for Labels in the Results Section */
QLabel[objectName="results_header"] {
    font-size: 14pt;
    font-weight: bold;
    color: #16a085;
    margin-bottom: 10px;
}

QLabel {
    color: #34495e;
    margin: 5px;
}

/* Middle Widget Styling */
QWidget#middle_widget {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Custom Styling for Numeric Displays */
QLabel[objectName="numeric"] {
    font-size: 12pt;
    font-family: 'Consolas', 'Courier New', monospace;
    color: #e74c3c;
}

QToolTip {
    color: #ffffff;
    background-color: #2c3e50;
    border: 1px solid #ffffff;
}
