/* HomeWindowStyle.css */

QWidget {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12pt;
}

/* Styles for Header and Footer */
QLabel#header, QLabel#footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    border-radius: 10px;
    margin: 1px 10px;
    max-height: 300px;
}

QLabel#footer {
    font-size: 15px;
    padding: 0;
}
QPushButton {
    background-color: #3498db; /* Podstawowy kolor tła */
    background-image: linear-gradient(to right, #3498db, #5dade2);
    color: #ffffff; /* Biały tekst */
    font-weight: bold; /* Pogrubiona czcionka */
    border: 2px solid #2980b9;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 5px;
    font-size: 17px;
    max-width: 350px;
    text-align: center;
}

QPushButton:hover {
    background-color: #2980b9;
    border-color: #21618c;
}

QLabel {
    color: #34495e;
    margin: 5px;
}

/* Middle Widget Styling */
QWidget#middle_widget {
    border: 5px solid #bdc3c7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#upper_label {
    font-weight: bolder;
    font-size: 30px;
}
QLabel#tag_label, QLabel#additional_info_label {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    margin: 0;
    border-radius: 0;
    text-align: center;
    width: 50%;
}

QLabel#tag_label {
    width: 40%
}

QLabel#additional_info_label {
    width: 60%
}

QToolTip {
    color: #ffffff;
    background-color: #2c3e50;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 6px;
    font-size: 16px;
    margin: 0;
}