QLabel {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 2px;
}

#content_layout {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}

/* List Widget Styles */
QListWidget {
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 5px;
    color: #34495e;
}

QListWidget::item {
    padding: 5px;
    border-radius: 5px;
}

QListWidget::item:selected {
    background-color: #3498db;
    color: #ffffff;
}

/* Middle Widget Styling */
QWidget#middle_widget {
    border: 5px solid #bdc3c7;
    border-radius: 10px;
    margin: 10px;
}

QMessageBox {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 12pt;
    color: #34495e;
}

QPushButton {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
}

QPushButton:hover {
    background-color: #2980b9;
}

#input_layout {
    margin: 20px;
    padding: 20px
}

#label {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-left: 10px;
}

#min_return_label, #max_return_label, #min_risk_label, #max_risk_label, #return_input_min, #return_input_max, #risk_input_min, #risk_input_max {
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#divider {
    background-color: #D3D3D3;
    height: 2px;
    margin: 10px 8px;
}

#section_title {
    font-size: 22px;
    font-weight: bold;
    color: #3A7CA5;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#input_field {
    padding: 8px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-size: 14px;
    margin-right 20px;
}

QHBoxLayout {
    padding: 20px;
    margin-left: 10px;
}

#buttons_shares {
    padding: 20px;
    margin-left: 10px;
}