/* SharesAssistantStyle.css */

QWidget {
    background-color: #f9f9f9;
}

QLabel {
    font-size: 18px;
    color: #333;
}

#header, #footer {
    background-color: #124191; /* Zmieniono odcień niebieskiego na głębszy */
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Zwiększono cień */
}

#middle_part {
    margin: 10px;
    padding: 10px;
    border-radius: 10px; /* Dodano zaokrąglenie do środkowej części */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Dodano cień */
}

#companyListWidget {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    color: #0056b3;
}

QPushButton {
    background-color: #007bff; /* Niebieski kolor przycisków */
    color: white;
    font-size: 16px; /* Zwiększono rozmiar czcionki */
    font-weight: bold;
    border-radius: 8px; /* Większe zaokrąglenie rogów */
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Dodano cień dla przycisków */
    border: none; /* Usunięcie obramowania */
    transition: background-color 0.3s, box-shadow 0.3s; /* Płynna zmiana koloru i cienia */
}

QPushButton:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski przy najechaniu */
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Zwiększony cień przy najechaniu */
}

